@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
}

img {
  display: block;
  width: 100%;
}

.photo:nth-child(2) {
  display: none;
}

.photo:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  .photo:first-child {
    width: 100%;
    max-height: 200px;
  }

  .photo:nth-child(2) {
    display: flex;
  }

  .photo:nth-child(5) {
    display: flex;
  }

  .photo {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
  }

}

@media only screen and (min-width: 38em) {

  .photo:first-child {
    max-height: 304px;
  }

  .photo {
    width: 33.3333%;
    max-height: 203px;
  }

  .photo:last-child {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .photo:first-child {
    width: 66.6666%;
    min-height: 320px;
  }

  .photo {
    min-height: 320px;
  }

  .photo:last-child {
    display: flex;
  }

}

@media only screen and (min-width: 90em) {

  .photo:first-child {
    max-height: 480px;
  }

  .photo {
    max-height: 480px;
  }

}
